.nav {
  position: relative;

  .ol {
    list-style: none;
    display: flex;
    gap: 1rem;
    border-top: 1px solid white;
    border-inline: 1px solid white;
    .li {
      .a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
