.section {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  align-items: center;
  justify-content: center;
}

.h2 {
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  color: white;
}
.button {
  background-color: #f2c894;
  width: 7rem;
  border-radius: 2rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 700;
  font-family: 'Merienda', cursive;
  padding: 2px;
  cursor: pointer;
}

.span {
  font-size: 1rem;
  justify-content: left;
  flex-direction: column;
  padding: 1rem;
  color: white;
  text-align: center;
}

.div {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.img {
  height: 5rem;
  width: 4rem;
}

.imgArmy {
  width: 6rem;
}

.text {
  color: white;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  padding: 0.1rem;
  list-style: none;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.li {
  font-family: 'Merienda', cursive;
  font-weight: 600;
}
.maps {
  color: white;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 3.12rem;
}
