.buttons {
  background-color: #f2c894;
  width: 7rem;
  border-radius: 2rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: 'Merienda', cursive;
  padding: 2px;
  cursor: pointer;
}

.buttonBox {
  display: flex;
  gap: 0.5rem;
  .previousButton {
    @extend .buttons;
  }
  .span {
    font-size: 1.2rem;
    color: #f1f8f2;
  }
  .nextButton {
    @extend .buttons;
  }
}
