.footer {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to bottom right, #123159, #6387a6);
  height: 10vh;
  flex-shrink: 0;
  align-items: center;
  font-family: 'Merienda', cursive;
  padding-inline: 1rem;
  .logo {
    height: 4.307rem;
    width: 3.688rem;
    padding: 1.5rem;
  }

  .phrase {
    font-size: 1rem;
    color: black;
    text-align: center;
  }
}
