.section {
  background-color: rgb(164, 192, 244);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.ol {
  font-size: 1.5rem;
}

.il {
  font-size: 1.5rem;
}

.img {
  height: 3rem;
  width: 4rem;
}
