.page {
  display: flex;
  height: 70vh;
  background: #868497;
  flex-direction: column;
  justify-content: space-around;
  padding-inline: 1rem;
  .errorContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .error {
      font-size: 4rem;
    }
    .emoti {
      margin-inline: 0.5rem;
      height: 4rem;
      width: 4rem;
    }
    .notFound {
      font-size: 3rem;
    }
  }
  .back {
    background: #42a5f5;
    border-radius: 20rem;
    font-size: 2rem;
  }
}
