.select {
  background-color: #f2c894;
  border-radius: 2rem;
  text-align: center;
  color: #0c0c0c;
  font-weight: 700;
  font-family: 'Merienda', cursive;
  padding: 5px;
  .option {
    color: #0c0c0c;
    text-align: center;
    font-weight: 700;
  }
}
